@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    overflow-x: hidden;
    background: #000;
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.link_li, .link_lib{
    font-weight: 400;
    font-size: 16px;
    color: white;
    position: relative;
}

.link_li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;          /* расстояние от текста */
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

.link_li:hover::after {
  width: 100%;
}

.esp{
    opacity: 1;
    border-radius: 6px;
    background: #FA9021;
    padding: 10px;
    transition: transform 0.3s ease;
}

.esp:hover{
    transform: scale(1.1);
}

.header__container{
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.burger {
    position: fixed;
    top: 30px;
    right: 30px;
    display: none;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
    z-index: 1100;
}

.burger span {
    width: 30px;
    height: 3px;
    background: white;
    transition: 0.3s;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* MAIN */

.fnaf-about-footer, .fnaf-contact-footer{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.fnaf-about-footer-links, .fnaf-contact-footer-links{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.fnaf-about-footer-title{
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.paragraph-footer{
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.footer-lower-subtitle{
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    padding: 3rem;
    text-align: center;
}

.logo-footer{
    width: 100px;
    height: 100px;
    transition: 1s;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.fnaf-logo-footer{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.fnaf-icons-social-media{
    display: flex;
}

.fnaf-icon-social-media{
    width: 50px;
    height: 50px;
}

@media (max-width: 1200px) {
    .footer__container {
        flex-direction: column;
        row-gap: 40px;
        text-align: center;
    }

    .fnaf-icons-social-media {
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .burger {
        display: flex;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.4s ease;
        z-index: 1000;
        box-shadow: -10px 0 40px rgba(255, 0, 0, 0.15);
    }

    .nav.active {
        right: 0;
    }

    .menu {
        flex-direction: column;
        row-gap: 30px;
    }
}
