@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    overflow-x: hidden;
    background: #000;
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.link_li, .link_lib{
    font-weight: 400;
    font-size: 16px;
    color: white;
    position: relative;
}

.link_li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;          /* расстояние от текста */
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

.link_li:hover::after {
  width: 100%;
}

.esp{
    opacity: 1;
    border-radius: 6px;
    background: #FA9021;
    padding: 10px;
    transition: transform 0.3s ease;
}

.esp:hover{
    transform: scale(1.1);
}

.header__container{
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.main{
    background-image: url('../assets/images/FNAF.png');
    height: 100vh;
}

.main__container-hint{
    color: #E87D0E;
    font-weight: 700;
    font-size: 20px;
}

.main__container-title{
    color: white;
    font-weight: 700;
    font-size: 50px;
}

.main__container-subtitle{
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.btn_about{
    border: none;
    background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
    padding: 10px;
    border-radius: 50px;
}

.about-link{
    color: white;
}

.main__section_fst{
    padding-top: 115px;
}

.main__container{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}